@page "/Contact/Delete/{Id:int}"
@using ZayirApp.Data;

@inject NavigationManager NavigationManager
@inject ContactService ContService

    <div class="container">
        <h3>Delete Contact</h3>
        <div class="container">
            <div class="alert alert-danger">
                Do you want to delete this Contact?
            </div>

            <table>
                <tr>
                    <td>Name: </td>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                </tr>

            </table>
            <br />
            <button type="submit" class="btn btn-outline-danger" @onclick="RemoveContact">Delete Contact</button>
            <a href="/Contact/List" class="btn btn-outline-secondary" role="button">Cancel</a>
            <br /><br />
        </div>
    </div>

    @code {

        Contact contact = new Contact();

        [Parameter]
        public int Id { get; set; }

        private void RemoveContact()
        {
            ContService.DeleteContact(Id);

            NavigationManager.NavigateTo("Contact/List");
        }

        protected override void OnInitialized()
        {
            contact = ContService.GetContact(Id);
        }

    }

