@page "/Visit/Cancel/{Id:int}"
@using ZayirApp.Data

@inject NavigationManager NavigationManager
@inject VisitService VisitService

<div class="container">
    <h3>Cancel Visit</h3>

    <div class="alert alert-danger">
        Do you want to cancel this Visit?
    </div>

    <table>
        <tr>
            <th>Visitor Name:</th>
            <td>@visit.Visitor.FirstName</td>
            <td>@visit.Visitor.LastName</td>
        </tr>
        <tr>
            <th>Visit Date:</th>
            <td>@visit.SignInDateTime</td>
        </tr>
    </table>
    <br />
    <button type="submit" class="btn btn-outline-danger" @onclick="RemoveVisit">Remove Visit</button>
    <a href="/Visit/List" class="btn btn-outline-secondary" role="button">Cancel</a>

    <br />
</div>

@code {

    Visit visit = new Visit();

    [Parameter]
    public int Id { get; set; }

    private void RemoveVisit()
    {
        VisitService.DeleteVisit(Id);

        NavigationManager.NavigateTo("Visit/List");
    }

    protected override void OnInitialized()
    {
        visit = VisitService.GetVisit(Id);
    }
}