@page "/Department/Add"

@using ZayirApp.Data;

@inject DepartmentService DepService

<div class="container">
    <h3>Add New Department</h3>

    <EditForm Model="department" OnValidSubmit="AddDepartment1">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">

            <label for="name">Name*</label>

            <InputText id="name" @bind-Value="department.Name" class="form-control" />

        </div>

        <button type="submit" class="btn btn-outline-primary">Save</button>
        <a href="Department/List" class="btn btn-outline-secondary" role="button">Cancel</a>
        <br />
    </EditForm>
</div>
@code {

    Department department = new Department();

    private void AddDepartment1()
    {
        DepService.AddDepartment(department);

        department = new Department();
    }
}