
@page "/Department/Edit/{Id:int}"

@using ZayirApp.Data;



@*@inject NavigationManager NavigationManager


@inject CategoryService Service*@







<h3>Edit Department Information</h3>







<EditForm Model="department" OnValidSubmit="EditDepartment">


    <DataAnnotationsValidator />


    <ValidationSummary />







    <div class="form-group">


        <label for="name">Name*</label>


        <InputText id="name" @bind-Value="department.Name" class="form-control" />


    </div>







    <button type="submit" class="btn btn-outline-primary">Save</button>



    <a href="Department/List" class="btn btn-outline-secondary" role="button">Cancel</a>


</EditForm>







<br />







<p>@message</p>






@code {







    [Parameter]


    public int Id { get; set; }







    Department department = new Department();







    string message;







    protected override void OnInitialized()


    {


        //department = Service.GetDepartment(Id);


    }






    public void EditDepartment()


    {


        // Edit the Department


        //Service.EditDepartment(department);







        message = "Department edited successfully";


        //NavigationManager.NavigateTo("Department/List");


    }


}

