@page "/ZayirHomepage"
<br>
<br>
<br>
<br>
<fieldset class="container" style="background-color:#EAF2F8  ; padding: 50px;  ">

    <br><br>

    <center><h1>  Visitors  </h1></center>

    <br><br>

    <center> <a href="Visitors/Sign-in" class="btn btn-outline-primary btn-lg">Sign-in</a> </center>

    <br><br>

    <center> <a href="Visitor/Add" style="font-size:22px;">Don't have an Account?</a> </center>

</fieldset>
<br>
<br>
<br>
<br>
<fieldset class="container" style="background-color:#EAF2F8 ; padding: 50px;  ">

    <br><br>

    <center><h1>  Employee/Student  </h1></center>

    <br><br>

    <center> <a href="Contact/Sign-in" class="btn btn-outline-primary btn-lg">Sign-in</a> </center>

    <br><br>

    <center> <a href="Contact/Add" style="font-size:22px;">Don't have an Account?</a> </center>

</fieldset>